@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@font-face {
    font-family: 'Denike Regular';
    src: url("/fonts/denike-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Regular';
    src: url("/fonts/Raleway-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url("/fonts/Raleway-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway ExtraBold';
    src: url("/fonts/Raleway-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk Bold';
    src: url("/fonts/HKGrotesk-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HKGrotesk Regular';
    src: url("/fonts/HKGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
