$pink: rgb(255, 140, 151);
$pink-cosy: rgb(251, 125, 137);
$shadow: rgba(34, 34, 43, 0.26);
$white: rgb(253, 254, 254);
$red-cozy: rgb(255, 71, 71);
$black: #2E2E2E;
$black-cozy: #000000B2;
$variant-black: #232323;
$red: #C41230;
$bonecolor: #E5DAC1;
$green: #B6C6B1;
$res-medium: #9B0712;
$grey: #626262;
$grey-cozy: #464650;
$transparent: rgba(0, 0, 0, 0);
$font-noto-self: "Denike Regular";
$font-raleway: "Raleway Regular";
$font-realway-bold: "Raleway Bold";
$font-raleway-extra-bold: "Raleway ExtraBold";
$font-hk-grotesk-regular: "HKGrotesk Regular";
$font-hk-grotesk-bold: "HKGrotesk Bold";
$font-nunito-sans-sans-serif: "Nunito Sans", sans-serif;
$font-Parisienne-cursive: "Parisienne", cursive;
$cover: url(/head-img-x2.jpg);
$offer-img: url(/offer-background.png);
$offer-img2: url(/offer-background2.png);
$second-offer-desktop-img: url(/second-offer-cover.png);
$offer-background-desktop: url(/offer-background-desktop.png);
