.Arrow {
    &-img {
        animation: moveUpDown 2.5s linear infinite;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 1.5px;
        width: 24px;
        height: 26px;
    }

    @include media-breakpoint-up(lg) {
        &-img {
            width: 32px;
            height: 35px;
        }
    }


    @keyframes moveUpDown {
        0%, 100% {
            transform: translateY(0);
        }

        25%, 75% {
            transform: translateY(40%);
        }

        50% {
            transform: translateY(10%);
        }
    }
}
