.Category {
    &-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &-text {
        font-size: 16px;
        width: 136px;
        line-height: 20px;

        &-firstVariant {
            color: $white;
            font-family: $font-nunito-sans-sans-serif;
            font-weight: 700;
        }

        &-secondVariant {
            color: $red;
            font-family: $font-nunito-sans-sans-serif;
            font-weight: 300;
            max-width: 63px;
        }

        &-customText {
            max-width: 118px;
        }
    }

    &-image {
        vertical-align: revert;
    }

    &-icon {
        border-radius: 30px;
        height: 22.15px;
        width: 22.15px;

        &-firstVariant {
            color: $white;
        }

        &-secondVariant {
            color: $red;
        }
    }

    @include media-breakpoint-up(md) {
        background-size: cover;
    }


    @include media-breakpoint-up(lg) {
        &-image {
            height: 278px;
            width: 220px;
        }

        &-text {
            font-size: 20px;
            height: 48px;
            line-height: 30px;
            width: 196px;
        }

        &-cover {
            background-size: cover;
        }

        &-content {
            width: 220px;
        }

        &-icon {
            height: 24px;
            width: 24px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .Category {
        height: 335px;
    }
}
