.Categories {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 48px;
    padding-top: 48px;

    &-firstVariant {
        background-color: $white;
    }

    &-secondVariant {
        background-color: $red;
        background-size: cover;
        background-image: url("/CATEGORY.png");
        width: 100%;
    }

    &-text {
        font-size: 16px;
        text-align: center;
        width: 328px;
        line-height: 20px;
        font-weight: 300;

        &-firstVariant {
            color: $white;
        }

        &-secondVariant {
            color: $black;
        }
    }

    &-title {
        font-size: 24px;
        height: auto;
        line-height: 30px;
        text-align: center;
        width: 328px;
        font-family: $font-nunito-sans-sans-serif;
        font-weight: 700;

        &-firstVariant {
            color: $white;
        }

        &-secondVariant {
            color: $red;
        }
    }

    &-content {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        grid-gap: 24px 8px;
        justify-content: center;
    }

    &-head {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        width: 328px;
    }

    @include media-breakpoint-up(lg) {
        &-title {
            font-size: 32px;
            height: 23px;
            line-height: 38px;
            margin-bottom: 16px;
            width: 100%;
        }

        &-content {
            gap: 24px;
        }

        &-text {
            font-size: 16px;
            height: 14px;
            max-width: 100%;
            width: 100%;
        }

        &-head {
            width: 100%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .Categories {
        padding-bottom: 96px;
        padding-top: 96px;
    }
}
