.Header {
    background-color: $red;
    height: 100vh;
    width: 100%;

    &-cover {
        background-image: $cover;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 116vw;
        justify-content: center;
        position: relative;
        width: 100vw;
    }

    &-container {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 100%;
        width: 100%;
    }

    &-logo {
        background-color: $white;
        width: 136px;
        height: 76px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        padding-top: 32px;
        padding-bottom: 24px;
    }

    &-title {
        color: $white;
        font-size: 32px;
        width: 324px;
        text-align: center;
        margin: 24px 0;
        font-family: $font-nunito-sans-sans-serif;
        font-weight: 900;
    }

    &-paragraph {
        color: $white;
        font-family: $font-nunito-sans-sans-serif;
        font-size: 14px;
        text-align: center;
        width: 328px;
        display: flex;
        justify-content: center;
        gap: 5px;
        flex-direction: column;
        font-weight: 300;
    }

    @include media-breakpoint-up(md) {
        &-cover {
            background-image: url(/head-img-x1.jpg);
            background-position: center center;
            height: 63%;
            width: 100%;
        }

        &-container {
            top: 90%;
        }

        &-content {
            width: 500px;
        }

        &-img {
            height: 92px;
            width: 184px;
        }
    }


    @include media-breakpoint-up(lg) {
        &-cover {
            background-image: url(/head-img-x1.jpg);
            background-position: center center;
            background-size: cover;
            height: 75%;
            width: 100%;
        }

        &-paragraph {
            width: 100%;
            flex-direction: row;
            font-size: 16px;
            font-weight: 600;
        }

        &-container {
            top: 97%;
        }

        &-logo {
            top: 50px;
        }

        &-content {
            width: 708px;
            border-radius: 6px;
            height: 278px;
        }

        &-img {
            height: 92px;
            width: 184px;
        }

        &-title {
            font-size: 46px;
            max-width: 280px;
            text-align: center;
            margin-bottom: 45px;
        }
    }
}
