.Offer {
    align-items: center;
    display: flex;
    justify-content: center;

    &-firstImgVariant {
        background-image: $offer-img;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 48px 0;

        @include media-breakpoint-up(lg) {
            background-image: $second-offer-desktop-img;
            padding: 96px 0;
        }
    }

    &-secondImgVariant {
        background-image: $offer-img2;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 48px 0;
        width: 100%;
    }

    &-content {
        align-items: center;
        backdrop-filter: blur(13.3999996185px);
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        filter: drop-shadow(0px 6px 19px $shadow);
        flex-direction: column;
        justify-content: center;
        width: 328px;

        @include media-breakpoint-up(md) {
            width: 80%;
        }


        @include media-breakpoint-up(lg) {
            align-items: center;
            display: flex;
            justify-content: center;
            width: 76%;
        }


        &-firstVariant {
            border-radius: 18px;
        }

        &-secondVariant {
            border-radius: 8px;
        }
    }

    &-title {
        align-items: center;
        color: $red;
        display: flex;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        justify-content: center;
        margin: 48px 0;
        width: 296px;
    }

    &-secondTitle {
        color: $red;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;

        &-separation {
            margin-bottom: 18px;
        }
    }

    &-main {
        display: flex;
        justify-content: center;
        width: 266.15px;
    }

    &-copyBox {
        border: $grey-cozy 1px solid;
        border-radius: 6px;
        border-radius: $grey-cozy;
        color: $black;
        font-family: $font-hk-grotesk-bold;
        letter-spacing: 1.6px;
        line-height: 20px;
        padding: 9px 24px;
        text-align: center;
        text-decoration: none;
    }

    &-copyBoxContent {
        align-items: center;
        column-gap: 8px;
        display: flex;
        justify-content: center;
    }

    &-subtitle {
        color: $black;
        display: block;
        font-family: $font-nunito-sans-sans-serif;
        font-size: 48px;
        font-weight: 900;
        line-height: 52px;
        text-align: center;

        &-supplementary {
            color: $red;
            display: block;
            font-family: $font-nunito-sans-sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
            width: 296px;
        }

        &-supplementaryVarient {
            color: $black;
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
            text-align: center;
        }

        &-firstVariant {
            font-size: 18px;
            margin-bottom: 24px;
        }

        &-secondVariant {
            margin-bottom: 24px;
        }

        &-percentage {
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
        }
    }

    &-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
        margin-top: 48px;
    }

    &-button {
        align-items: center;
        background-color: $red;
        border-radius: 39px;
        box-shadow: 0px 6px 19px -5px $shadow;
        color: $white;
        display: flex;
        font-family: $font-hk-grotesk-bold;
        font-size: 16px;
        height: 42px;
        justify-content: center;
        line-height: 20px;
        margin-bottom: 48px;
        margin-top: 48px;
        text-decoration: none;
        width: 173px;
    }

    &-icon svg {
        height: 20px;
        width: 20px;
    }

    @include media-breakpoint-up(lg) {
        &-content {
            border-radius: 16px;
        }

        &-container {
            margin-bottom: 96px;
            margin-top: 96px;
        }

        &-subtitle {
            line-height: 41.5px;
        }

        &-button {
            border-radius: 73px;
            font-size: 18px;
            height: 52px;
            line-height: 22px;
            margin-bottom: 0;
            margin-top: 0;
            width: 207px;
        }

        &-title {
            font-family: $font-nunito-sans-sans-serif;
            font-size: 22px;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 32px;
            margin-top: 0;
            width: auto;
        }

        &-secondTitle {
            font-size: 32px;
            line-height: 38px;
        }

        &-copyBoxContent {
            font-size: 18px;
        }

        &-secondImgVariant {
            padding: 96px 0;
        }

        &-content-secondVariant {
            width: 1440px;
        }
    }
}
