.Offer {
    background-image: $offer-img;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 48px 0;

    &-content {
        align-items: center;
        border-radius: 18px;
        display: flex;
        width: 328px;
        flex-direction: column;
        justify-content: center;
        filter: drop-shadow(0px 6px 19px $shadow);
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(13.3999996185px);

        @include media-breakpoint-up(md) {
            width: 80%;
        }


        @include media-breakpoint-up(lg) {
            align-items: center;
            display: flex;
            height: 534px;
            justify-content: center;
            margin-top: 171px;
            width: 76%;
        }
    }

    &-title {
        align-items: center;
        color: $red;
        width: 296px;
        display: flex;
        font-size: 14px;
        justify-content: center;
        font-family: "Nunito Sans", sans-serif;
        margin: 48px 0;
    }

    &-copyBox {
        border: $grey-cozy 1px solid;
        border-radius: 6px;
        color: $back;
        font-family: $font-hk-grotesk-bold;
        letter-spacing: 1.6px;
        line-height: 20px;
        padding: 9px 24px;
        text-align: center;
        text-decoration: none;
        border-radius: $grey-cozy;
    }

    &-copyBoxContent {
        align-items: center;
        column-gap: 8px;
        display: flex;
        justify-content: center;
    }

    &-subtitle {
        color: $back;
        display: block;
        font-family: $font-nunito-sans-sans-serif;
        font-size: 48px;
        font-weight: 900;
        text-align: center;
        line-height: 52px;

        &-supplementary {
            font-family: $font-nunito-sans-sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
            width: 296px;
            color: $red;
        }

        &-firstVariant {
            margin-bottom: 24px;
        }

        &-secondVariant {
            margin-bottom: 24px;
        }
    }

    &-button {
        align-items: center;
        background-color: $red;
        color: $white;
        display: flex;
        font-family: $font-hk-grotesk-bold;
        font-size: 16px;
        justify-content: center;
        text-decoration: none;
        width: 173px;
        height: 42px;
        line-height: 20px;
        border-radius: 39px;
        margin: 48px 0;
        box-shadow: 0px 6px 19px -5px $shadow;

        @include media-breakpoint-up(lg) {
            font-size: 18px;
            height: 52px;
            line-height: 22px;
            width: 160px;
            margin-top: 0;
        }
    }

    &-icon svg {
        height: 20px;
        width: 20px;
    }

    @include media-breakpoint-up(lg) {
        &-content {
            border-radius: 16px;
        }

        &-button {
            padding-left: 30px;
            padding-right: 30px;
            border: $grey-cozy;
            font-size: 18px;
            border-radius: 2px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .Offer {
        padding-bottom: 100px;
    }
}
