.Benefits {
    align-items: center;
    background-color: $blue-variant;
    display: flex;
    flex-direction: column;

    &-cover {
        background-color: $skyBlue;
        width: 100%;

        &-img {
            width: 100%;
        }
    }

    &-textContent {
        height: 48px;
        margin-bottom: 47px;
        margin-top: 47px;
        width: 314px;
    }

    &-title {
        color: $white;
        font-family: $font-Inter-sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
    }

    &-text {
        color: $white;
        font-family: $font-Inter-sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 38px;
        margin-bottom: 47px;
    }

    @include media-breakpoint-up(lg) {
        &-cover {
            visibility: hidden;
            width: 50%;
        }

        &-textContent {
            height: 68px;
            margin-bottom: 60px;
            margin-top: auto;
            width: 450px;
        }

        &-main {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-bottom: 105px;
            margin-top: 116px;
            margin-top: 116px;
        }

        &-title {
            font-size: 28px;
            font-weight: 600;
            line-height: 34px;
        }

        &-text {
            font-size: 28px;
            font-weight: 600;
            line-height: 34px;
        }

        &-list {
            gap: 0;
            height: 408.23px;
            justify-content: space-around;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .Benefits {
        background-color: $skyBlue;
        background-image: $benefits-cover-desktop;
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: row;
        justify-content: center;
    }
}
