.Footer {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &-image {
        margin-bottom: 20.5px;
        margin-top: 43.5px;
    }

    &-text {
        color: $white;
        font-family: $font-hk-grotesk-bold;
        font-size: 8px;
        margin-bottom: 11px;
        text-align: center;
        width: 246px;
    }

    @include media-breakpoint-up(lg) {
        &-image {
            margin-bottom: 28.5px;
            margin-top: 26.5px;
            width: 246px;
            height: 52px;
        }
    }
}

@include media-breakpoint-up(md) {
    .Footer {
        margin-bottom: 29%;
    }
}


@include media-breakpoint-up(lg) {
    .Footer {
        margin-bottom: auto;
    }
}
