.Mentions {
    align-items: center;
    background-color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &-content {
        margin-top: 24px;
        max-width: 328px;
        text-align: start;
        width: 100%;
    }

    &-text {
        color: $white;
        font-family: $font-hk-grotesk-regular;
        font-size: 12px;
        line-height: 16px;
    }

    &-button {
        align-items: center;
        background-color: $pink-hard;
        border-radius: 6px;
        color: $white;
        display: flex;
        flex-direction: row-reverse;
        font-family: "HKGrotesk Bold";
        height: 38px;
        justify-content: center;
        margin-top: 18px;
        text-decoration: none;
        width: 256px;
    }
}
