.Offer {
    background-image: $background-image;
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 15px;

    &-icon {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        width: 78px;

        &-customized {
            width: 25px;
            height: 25px;
            color: $blue-variant;
        }
    }

    &-title {
        display: flex;
        font-family: $font-Inter-sans-serif;
        font-size: 20px;
        font-weight: 600;
        gap: 4px;
        height: 50.12px;
        justify-content: center;
        line-height: 24px;
        margin-left: auto;
        margin-right: auto;
        width: 290.54px;

        &-firstVariant {
            color: $blue;
        }

        &-secondVariant {
            color: $blue;
        }

        &-thirdVariant {
            color: $pink-hard;
        }
    }

    &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 328px;
    }

    &-firstbox {
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;

        &-textOne {
            align-items: center;
            color: $dark-deep;
            display: flex;
            font-family: $font-Inter-sans-serif;
            font-size: 32px;
            font-weight: 700;
            height: 40px;
            justify-content: center;
            line-height: 20px;
            margin-bottom: 25px;
            margin-left: 20.19px;
            margin-top: 25px;
            width: 86px;
        }

        &-textTwo {
            align-items: center;
            color: $dark-deep;
            display: flex;
            font-family: $font-Inter-sans-serif;
            font-weight: 400;
            height: 40px;
            justify-content: center;
            line-height: 20px;
            margin-bottom: 25px;
            margin-right: 19.28px;
            margin-top: 25px;
            text-align: center;
            width: 123px;
        }
    }

    &-secondBox {
        background-color: $white;
        border-radius: 10px;
        display: flex;
        align-items: center;

        &-textOne {
            width: 90px;
            height: 40px;
            text-align: center;
            margin-left: 29px;
            margin: 26px;
            margin-bottom: 26px;
            font-size: 16px;
            line-height: 20px;
            font-family: $font-Inter-sans-serif;
            font-weight: 700;
        }

        &-plus {
            width: 19px;
            height: 16px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 24px;
            margin-right: 24px;
        }

        &-textTwo {
            width: 116px;
            height: 40px;
            text-align: center;
            margin-top: 26px;
            margin-bottom: 26px;
            margin-right: 29px;
            font-size: 16px;
            line-height: 20px;
            font-family: $font-Inter-sans-serif;
            font-weight: 700;
        }

        &-firstSpan {
            font-weight: 400;
        }
    }
}
