.Products {
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;

    &-title {
        color: $blue;
        display: flex;
        flex-direction: column;
        font-family: $font-Inter-sans-serif;
        font-weight: 600;
        height: 97px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 329px;

        &-firstVariant {
            font-size: 24px;
        }

        &-secondVariant {
            font-size: 20px;
        }
    }

    &-subtitle {
        font-family: $font-Inter-sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 60px;
        line-height: 20px;
        width: 305px;
        text-align: center;
        color: $blue-cosy;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        margin-bottom: 14px;
    }
}
