.Products {
    align-items: center;
    display: flex;
    flex-direction: column;

    &-cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

    &-title {
        color: $blue;
        display: flex;
        flex-direction: column;
        font-family: $font-Inter-sans-serif;
        font-weight: 600;
        height: 97px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 329px;

        &-firstVariant {
            font-size: 24px;
        }

        &-secondVariant {
            font-size: 20px;
        }
    }

    &-subtitle {
        color: $blue-cosy;
        font-family: $font-Inter-sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 60px;
        line-height: 20px;
        margin-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8px;
        text-align: center;
        width: 305px;
    }

    @include media-breakpoint-up(md) {
        &-cards {
            flex-direction: row;
        }
    }


    @include media-breakpoint-up(lg) {
        &-cards {
            flex-direction: row;
            gap: 70px;
            margin-bottom: 161.2px;
        }

        &-title {
            font-size: 28px;
            height: 97px;
            line-height: 34px;
            margin-bottom: 16px;
            width: 743px;
        }

        &-title-firstVariant {
            font-size: 28px;
        }

        &-title-secondVariant {
            font-size: 28px;
        }

        &-subtitle {
            font-size: 16px;
            height: 40px;
            line-height: 20px;
            margin-bottom: 42px;
            margin-top: 0;
            width: 453px;
        }
    }
}
