.Product {
    align-items: center;
    display: flex;
    flex-direction: column;

    &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        margin-top: 24px;
        width: 328px;
    }

    &-title {
        color: $blue;
        text-align: center;

        &-firstVariant {
            display: flex;
            flex-direction: column;
            font-family: $font-Inter-sans-serif;
            height: 32px;
            width: 324px;
        }

        &-firstVariantOne {
            font-size: 18px;
            font-weight: 600;
            height: auto;
            line-height: 24px;
        }

        &-secondVariantTwo {
            font-size: 16px;
            font-weight: 600;
            height: auto;
            line-height: 24px;
        }

        &-secondVariant {
            display: flex;
            flex-direction: column;

            // height: 32px;
            width: 324px;
        }
    }

    &-subtitle {
        color: $blue;
        font-family: $font-Inter-sans-serif;
        font-size: 14px;
        font-weight: 400;
        height: 36px;
        line-height: 18px;
        text-align: center;
    }

    &-button {
        align-items: center;
        background-color: $white;
        border: solid $pink-hard 1px;
        border-radius: 4px;
        color: $pink-hard;
        display: flex;
        flex-direction: row-reverse;
        font-family: $font-hk-grotesk-bold;
        height: 38px;
        justify-content: center;
        text-decoration: none;
        width: 285px;
    }

    @include media-breakpoint-up(lg) {
        &-img {
            height: 215px;
            width: 450px;
        }

        &-title-firstVariantOne {
            font-size: 20px;
            line-height: 22px;
            width: auto;
        }

        &-title-secondVariantTwo {
            font-size: 20px;
            line-height: 22px;
        }

        &-title-secondVariant {
            height: auto;
        }

        &-content {
            margin-top: 28px;
            width: 450px;
            gap: 23.99px;
        }

        &-subtitle {
            font-size: 20px;
            line-height: 22px;
        }

        &-button {
            width: 342.55px;
            height: 45.58px;
            font-size: 19.19px;
            line-height: 24px;
            font-family: $font-hk-grotesk-bold;
        }
    }
}
