.Selections {
    align-items: center;
    background-image: $block-img;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

    &-title {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        height: 64px;
        line-height: 32px;
        margin-top: 68px;
        text-align: center;
        width: 317px;
    }

    &-firstText {
        color: $black;
        font-family: $font-Inter-sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        line-height: 20px;
        margin-top: 282px;
        width: 319.91px;
    }

    &-secondText {
        color: $white;
        font-family: $font-Inter-sans-serif;
        font-size: 18px;
        font-weight: 400;
        height: 72px;
        line-height: 24px;
        margin-bottom: 33px;
        margin-top: 69px;
        text-align: center;
        width: 310px;

        &-variant {
            font-weight: 700;
        }
    }

    @include media-breakpoint-up(md) {
        &-title {
            margin-top: 90px;
            width: auto;
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    @include media-breakpoint-up(lg) {
        &-firstText {
            font-size: 16px;
            height: 40px;
            line-height: 20px;
            margin-top: auto;
            text-align: center;
            width: 488px;
        }

        &-secondText {
            display: flex;
            font-size: 20px;
            height: 22px;
            line-height: 22px;
            margin-bottom: 68.42px;
            margin-top: 277px;
            width: auto;
        }

        &-title {
            font-size: 36px;
            height: 38px;
            line-height: 38px;
            margin-bottom: 34px;
            margin-top: auto;
            width: 804px;
        }

        &-content {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 112px;
            margin-left: 912px;
            margin-top: 235px;
            width: auto;
        }
    }
}

@include media-breakpoint-up(lg) {
    .Selections {
        align-items: center;
        background-image: $selection-background;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
