$pink: rgb(255, 140, 151);
$pink-cosy: rgb(251, 125, 137);
$shadow: rgba(34, 34, 43, 0.26);
$white: rgb(253, 254, 254);
$red-cozy: rgb(255, 71, 71);
$back: rgb(23, 32, 42);
$black-cozy: #000000B2;
$red: rgb(255, 71, 71);
$grey: #626262;
$grey-cozy: #464650;
$font-noto-self: "Denike Regular";
$font-raleway: "Raleway Regular";
$font-realway-bold: "Raleway Bold";
$font-raleway-extra-bold: "Raleway ExtraBold";
$font-hk-grotesk-regular: "HKGrotesk Regular";
$font-hk-grotesk-bold: "HKGrotesk Bold";
$cover: url(/head-img-x2.jpg);
